html 
    head
        title= title 
        style
            include ./styles.css
    body
        h1= message
        form(
            action= "/"
            method= "GET"
        )
            input(
                type= "submit"
                value= "Home"
                class= "button"
            )
        p= names