html 
    //variables used in this template assigned to same name variables here for readability.
    - var title= title 
    - var heading= heading
    - var route= route
    - var method= method
    - var buttonName= buttonName
    - var message= mehtod
    - var names= names
    - var notFoundMessage= notFoundMessage
    head
        title= title 
        style
            include ./styles.css
    body
        h1= heading
        form(
            action= "/"
            method= "GET"
        )
            input(
                type= "submit"
                value= "Home"
                class= "button"
            )
            input(
                type="submit"
                value="Find names"
                formaction= "/getnames"
                class= "button"
            )
            input(
                type="submit"
                value="Add names"
                formaction= "/addnames"
                class= "button"
            )
            input(
                type="submit"
                value="Update names"
                formaction= "/editnames"
                class= "button"
            )
            input(
                type="submit"
                value="Delete names"
                formaction= "/deletenames"
                class= "button"
            )
        form(
            action= route
            method= method
            class= "columnForm"
        )
            input(
                type= "text"
                class= "inputfield"
                name= "nameInput"
            )
            input(
                type= "submit"
                value= buttonName 
                class= "button"
            )
        p= message 
        - var names = names 
        ul 
            #names
            if names.length > 0
                each val in names
                    li= val.name + " --- Nationality: " + val.nationality + " --- DOB: " + val.dob
        p= notFoundMessage
