mixin add_update_form 
     form(
            action= route
            method= method
            class= "columnForm"
        )
            label= "Name:"
            input(
                type= "text"
                class= "inputfield"
                name= "nameInput"
            )
            label= "Nationality:"
            input(
                type= "text"
                class= "inputfield"
                name= "nationalityInput"
            )
            label= "Date of Birth:"
            input(
                type= "text"
                class= "inputfield"
                name= "dobInput"
            )
            input(
                type= "submit"
                value= buttonName 
                class= "button"
            )